*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #ffff;
}
header{
    position: relative;
    background-color: silver;
    height: 50px;
    padding: 10px;
}

.circle{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: silver;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    position: absolute;
    width: 95px;
    height: 95px;
    background: url(./atrevidus_logo.png);
    background-size: cover;
    border-radius: 50%;
    filter: brightness(1.5) contrast(1.5)
}
.text{
    position: relative;
    width: 100%;
    height: 100%;
    animation: rotateText 10s linear infinite;
}

@keyframes rotateText{
    0%{
        transform: rotate(360deg)
    }
    
}
.text span{
    position: absolute;
    left: 50%;
    font-size: 0.8em;
    transform-origin: 0 60px;
}

#main {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
    position: relative;
    list-style: none;
    background: silver;
    color: #000;
    text-transform: uppercase;
    display: inline;
    padding: 0;
}
#main li { 
    font-size: 0.8rem;
    display: inline-block;
    position: relative;
    padding: 15px 20px;
    cursor: pointer;
    z-index: 4;
    transition: 0.3s;
    min-width: 120px;
    
}
li:hover{
    background: rgb(37, 37, 37);
    color: #ffff
    
}
.drop {
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 45px;
    text-decoration: none;
}
.drop div{
    transform: translate(0, -100%);
    transition: all 0.5s 0.1s;
    position: relative;
}
.drop li{
    display: block;
    padding: 20;
    width: 100%;
    background: rgb(37, 37, 37);
}
#main li:nth-child(3):hover ul div{
    transform: translate(0, 0);
}
.container{
    width: 960px;
    margin: auto;
}
#corpo{
    background-size: 100%;
    min-height:400px;
    padding: 100px 0 0 0;
}
footer{
    clear: both;
    background-color: silver;
    height: 80px;
    text-align: center;
    padding: 10px;
}

.toggle{
    float: right;
    position: relative;
    display: inline;
    width: 60px;
    height: 34px;
}
.dark-mode{
    background: black;
    color: #ffff;
}
.toggle input {
opacity: 1;
width: 0;
height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider{
    background-color: white;
}
input:checked + .slider::before{
    background-color: black;
}
input:focus + .slider{
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before{
    transform: translate(26px);
}
.slider.round{
    border-radius: 34px;
}
.slider.round:before{
    border-radius: 50%;
}
.flip-card{
    float: right;
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    
    
}
.flip-card-inner{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 16px;
}
.flip-card-front{
    background-image: linear-gradient( 45deg, green, silver);
}
.flip-card-front img{
    width: 220px;
    margin-top: 1rem;
}
.flip-card-front h4{
    margin-top: 0.3rem;
    color: white;
}
.flip-card-back{
    background-image: linear-gradient(315deg, blue, black);
    color: white;
    transform: rotateY(180deg);
}
.flip-card-back img{
    width: 150px;
    margin-top: 1rem;
}
.flip-card-back h3{
    margin-top: 0.3rem;
}



